.messaging {
	padding: 0 0 50px 0;
	clear: both;
	overflow: hidden;
	padding: 0 5px;
}

.messaging .form-control {
	margin-bottom: 20px;
}

.messaging img {
	max-width: 100%;
}

.messaging .img {
	display: inline-block;
	width: 6%;
}

.messaging small {
	color: #747474;
	margin: 8px 0 0;
}

.outgoing,
.incoming {
	overflow: hidden;
	margin: 26px 0 26px;
}

.incoming .txt,
.outgoing .txt {
	width: 70%;
	display: inline-block;
	vertical-align: top;
}

.incoming .txt {
	text-align: left;
}


.outgoing .txt {
	float: right;
	width: 60%;
	text-align: right;
}

.incoming .txt p,
.outgoing .txt p {
	font-size: 14px;
	margin: 0;
	padding: 5px 10px;
	width: 100%;
}

.incoming .txt p {
	border-radius: 0 3px 3px 0;
	background: #ebebeb none repeat scroll 0 0;
	color: #867878;
}

.outgoing .txt p {
	border-radius: 3px 0 0 3px;
	background: #867878 none repeat scroll 0 0;
	color: #fff;
}

.outgoing .img {
	float: right;
}

.incoming small {
	float: right;
}

.outgoing small {
	float: left;
}
