.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color:#fff;
    z-index: 100;
    width: 100%;
  }

.header H1{
  text-align: center;
  margin: 0 auto;
}
